<div class="container">
    <h2>Recipe Details</h2>
    <form [formGroup]="recipeForm">
      <div>
        <label for="name">Name:</label>
        <input type="text" id="name" formControlName="name">
      </div>
      
      <div>
        <label for="prepTimeMinutes">Preparation Time (minutes):</label>
        <input type="number" id="prepTimeMinutes" formControlName="prepTimeMinutes">
      </div>
      
      <div>
        <label for="cookTimeMinutes">Cooking Time (minutes):</label>
        <input type="number" id="cookTimeMinutes" formControlName="cookTimeMinutes">
      </div>
      
      <div>
        <label for="cuisine">Cuisine:</label>
        <input type="text" id="cuisine" formControlName="cuisine">
      </div>
    </form>
  </div>